@import '../../styles/StyleVariables.scss';

.MapLoading {
    background-color: $background-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.MapComponentChild {
    @media (max-width: $mobile-breakpoint) {
        height: 65% !important;
    }
}